html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Tahoma, sans-serif;
    font-size: 16px;
}

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v1/xn7gYHE41ni1AdIRggexSvfedN4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v1/xn7gYHE41ni1AdIRggexSvfedN4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v1/xn7gYHE41ni1AdIRggexSvfedN4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v1/xn7gYHE41ni1AdIRggexSvfedN4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v1/xn7gYHE41ni1AdIRggexSvfedN4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v1/xn7gYHE41ni1AdIRggexSvfedN4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v1/xn7gYHE41ni1AdIRggexSvfedN4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-content: center;
    height: 64px;
    background-color: white;
    position: fixed;
}
  .logo {
      font-family: Manrope;
      font-weight: 200;
      font-size: 1.3rem;
      text-transform: uppercase;
      margin-left: 24px;
      align-self: center;
      position: relative;
      top: -8px;
  }
  .logoimg,
  .logotext{
      display: inline-flex;
      align-content: center;
  }

.logo .logoimg {
    margin-top: 28px;
}
  .logo img {
      position: relative;
      top: 9px;
      height: 32px;
  }
  .logo span {
      font-weight: 800;
      color: black;
  }
  .logo a {
      text-decoration: none;
      color: dimgray;
  }
  nav {
      font-family: Manrope;
      font-weight: 100;
      position: relative;
      margin-right: 24px;
      top: 5px;
  }
  nav ul {
      display: flex;
      margin: 16px;
      list-style: none;
  }
  nav ul li  {
      margin-left: 16px;
  }
  nav li a {
    text-transform: uppercase;
    text-decoration: none;
    color: dimgray;
  }
.mobile, #mobile {
      display: none;
  }

.banner {
    position: absolute;
    margin-top: 64px;
    background-color: #d9d9d9;
    width:100%;
    height: auto;
}
.banner img {
    width: 60%;
    float: left;
    margin: 32px 24px 32px 24px;
}

@media only screen and (max-width: 710px) {
    
   .desktop, #desktop {
        display: none;
    }

.mobile, #mobile {
    display: block;
}
header {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
}

nav ul {
    position: relative;
    margin-left: -240px;
}
nav li {
    margin-right: 45%;
}

}

video {
    width: 60%;
}
