html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Tahoma, sans-serif;
    font-size: 16px;
}

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v1/xn7gYHE41ni1AdIRggexSvfedN4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v1/xn7gYHE41ni1AdIRggexSvfedN4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v1/xn7gYHE41ni1AdIRggexSvfedN4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v1/xn7gYHE41ni1AdIRggexSvfedN4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v1/xn7gYHE41ni1AdIRggexSvfedN4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v1/xn7gYHE41ni1AdIRggexSvfedN4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v1/xn7gYHE41ni1AdIRggexSvfedN4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-content: center;
    height: 64px;
    background-color: white;
    position: fixed;
    z-index: 5;
    top: 0;
}
  .logo {
      font-family: Manrope;
      font-weight: 200;
      font-size: 1.3rem;
      text-transform: uppercase;
      margin-left: 24px;
      align-self: center;
      position: relative;
      top: -8px;
  }
  .logoimg,
  .logotext{
      display: inline-flex;
      align-content: center;
  }

.logo .logoimg {
    margin-top: 28px;
}
  .logo img {
      position: relative;
      top: 9px;
      height: 32px;
  }
  .logo span {
      font-weight: 800;
      color: black;
  }
  .logo a {
      text-decoration: none;
      color: dimgray;
  }
  nav {
      font-family: Manrope;
      font-weight: 100;
      position: relative;
      margin-right: 24px;
      top: 5px;
  }
  nav ul {
      display: flex;
      margin: 16px;
      list-style: none;
  }
  nav ul li  {
      margin-left: 16px;
  }
  nav li a {
    text-transform: uppercase;
    text-decoration: none;
    color: dimgray;
  }
.mobile, #mobile {
      display: none;
  }

.banner {
    position: relative;
    margin-top: 64px;
    background-color: #f3f0f0;
    width:100%;
    height: auto;
    display: flex;
    align-items: center;
}
.bannerimg {
    width: 60%;
    margin: 32px 48px 32px 24px;
}

.bannerimg img {
    width: 100%;
}
.bannertext {
    width: 40%;
}
.banner h1 {
    font-family: Manrope, "sans-serif";
    font-weight: 800;
    font-size: 2rem;
    color: #3d3d3d;
    letter-spacing: 0.1em;
    min-width: 95%;
    position: right;
}

.banner p {
    font-family: Manrope, "sans-serif";
    font-weight: 600;
    letter-spacing: 0.1em;
    color: #3d3d3d;
    width:95%;
}

.banner button {
    font-family: Manrope, "sans-serif";
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.1em;
    color: white;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 5px;
    width: 90%;
    background-color: #3d3d3d;
    border: none;
    transition: background-color 500ms ease-in;
    
}

.banner button:hover {
    background-color: rgb(216, 182, 30);
}



.information { 
    position: relative;
    width: 100%;
    display: flex;
}

.mainInfo{
    width: 60%;
    margin: 32px 48px 32px 24px;
}
.mainInfo img {
    width: 100%;
    height: auto;

}

.mainInfo h2 {
    font-family: Manrope;
    font-weight: 800;
    font-size: 1.5rem;
    color: #4d4d4d;
    letter-spacing: 0.1rem;
}

.mainInfo p {
    font-family: Verdana;
    font-weight: 100;
    font-size: 13px;
    letter-spacing: 0.1rem;
    text-align: justify;
    color: #666666;
    padding-bottom: 2rem;
}

.mainInfo a {
    font-family: Verdana;
    font-weight: 100;
    font-size: 11px;
    letter-spacing: 0.1rem;
    text-decoration: none;
    color:black;

}

.otherInfo {
    width: 40%;
    border-left: 1px solid #d8d8d8;
}

.otherInfo h3 {
    font-family: Manrope;
    font-weight: 800;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    color: #666666;

}

.otherInfo p{
    font-family: Verdana;
    font-weight: 100;
    font-size: 12px;
    letter-spacing: 0.1rem;
    text-align: justify;
    color: #666666;
}

.otherInfo a {
    font-family: Verdana;
    font-weight: 100;
    font-size: 11px;
    letter-spacing: 0.1rem;
    text-decoration: none;
    color: #3d98ff;
}

.orientation {
    margin-top: 16px;
    align-items: center;
    display: flex;
    border-bottom: 1px solid #d8d8d8;
}

.ourcampus {
    align-items: center;
    display: flex;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
}

.guestlecture {
    align-items: center;
    display: flex;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
}

.orientationimg, .ourcampusimg, .guestlectureimg {
    width: 35%;
    margin: 16px;
}

.orientationimg img, .ourcampusimg img, .guestlectureimg img {
    width: 100%;
    height: auto;
}
.orientationtext, .ourcampustext, .guestlecturetext {
    width: 65%;
    margin: 16px;
}
.orientation, .ourcampus, .guestlecture {
    background-color: white;
    transition: background-color 500ms ease-in;
}
.orientation:hover, .ourcampus:hover, .guestlecture:hover {
    background-color: #f3f0f0;
}


video {
    width: 60%;
}


@media only screen and (max-width: 710px) {
    
   .desktop, #desktop {
        display: none;
    }

.mobile, #mobile {
    display: block;
}
header {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
}

nav ul {
    position: relative;
    margin-left: -240px;
}
nav li {
    margin-right: 45%;
}
.banner {
    flex-wrap: wrap;
}
.bannerimg{
    min-width: 100%;
    margin: 0;
}
.bannertext {
    min-width:100%;
}
.banner h1 {
    position: relative;
    padding: 0;
    margin: 2rem 1rem 2rem 1rem;
}
.banner p {
    margin-left: 1rem;
}
.banner button {
    width: 92%;
    background-color: rgb(114, 114, 114);
    margin: 2rem 1rem 2rem 1rem;
    justify-self: center;
}

.otherInfo {
    width: 100%;
    border: 0px;
}
.orientation, .ourcampus, .guestlecture {
    display: block;
    padding-bottom: 2rem;
    border: 0px ;
}
.orientationimg, .ourcampusimg, .guestlectureimg {
    width: auto;
}
.orientationtext, .ourcampustext, .guestlecturetext {
    margin: 1rem 1rem 1rem 1rem;
    width: 100%;
}

}